################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lb5/.vs
/lb5/Debug
/lb5/lb5.vcxproj.user
/lb5/lb5.vcxproj.filters
/lb5/lb5.vcxproj
/lb5/lb5.sln
/lb5/x64/Debug
