################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lb5/.vs
/lb5/Debug
/lb5/lb5.vcxproj.user
/lb5/lb5.vcxproj.filters
/lb5/lb5.vcxproj
/lb5/lb5.sln
/lb5/x64/Debug
/lb6/Debug
/lb6/.vs/lb6/v16
/.vs/oop/v16
/Debug
/lb6/sources/Debug
/lb6/sources/x64/Debug
/lb6/lb5.ilk
/lb6/lb5.exe
/lb6/lb5.pdb
/.vs
/x64/Debug
